           {% extends 'base.html' %}
           {% block content %}
           <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
                <hr class="col-12">
                <div class="col-md-6 col-12 tm-color-gray">
                  <h3>Interviews</h3>
                </div>
               <hr class="col-12">
            <div class="row tm-row">
            {% for interview in interviews %}
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
{#                   <a href="{% url 'album_detail' album.id %}" class="effect-lily tm-post-link tm-pt-60" >#}
                        <div class="text-center ml-3">
                            <img src="{{ interview.picture.url }}"  alt="Image" class="img-fluid img-thumbnail" style="height: 250px;width: 250px"/>
                        </div>
{#                        <span class="position-absolute tm-new-badge">New</span>#}
{#                   </a>#}
                    <div class="mt-3"> <span class=" tm-pt-30 tm-color-primary tm-post-title alert-link">{{ interview.title}}</span></div>

                   {% comment %} <div class="d-flex justify-content-between tm-pt-45">
                        <span class="tm-color-primary">Release Year</span>
                        <span class="tm-color-primary">{{ album.release_year}}</span>
                    </div>{% endcomment %}
                    <hr>
                    <div class="d-flex justify-content-between">

                        <span>{{ interview.link}}</span>
                    </div>
                </article>
            {% endfor %}
            </div>
            <div class="row tm-row tm-mt-100 tm-mb-75">
                <div class="tm-prev-next-wrapper">
                    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
                    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
                </div>
                <div class="tm-paging-wrapper">
                    <span class="d-inline-block mr-3">Page</span>
                    <nav class="tm-paging-nav d-inline-block">
                        <ul>
                            <li class="tm-paging-item active">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">2</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">3</a>
                            </li>
                            <li class="tm-paging-item">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">4</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
           {% endblock content %}